<!-- views/chat.ejs -->
<div>
    <h3>Chat</h3>
    <div class="chat-box">
      <div v-for="(chat, index) in chatMessages" :key="index">
        <strong>{{ chat.username }}:</strong> {{ chat.message }}
      </div>
    </div>
    <input type="text" v-model="newChatMessage" placeholder="Type a message...">
    <button @click="sendChatMessage">Send</button>
  </div>
  